.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #E4799F;
    overflow-x: auto;

    display: flex;
    flex-direction: row;
}
  
.topbar_left {
    flex: 90;
    /* background: green; */
}

.topbar_right {
    flex: 10;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar_icons {
    height:100%;
    width:100%;
  }

