.story_item {
    padding: 3px;
    /* border-radius: 1000px; */
    /* border: 1px solid hsl(0, 0%, 86%); */
}

.story_image_container {
    padding: 3px;
    border-radius: 1000px;
    border: 1px solid hsl(0, 0%, 86%);
}

.story_image {
    border-radius: 1000px;
    width: 77px;
    height: 77px;
    display: block;
  }

.story_title {
    padding-top: 15px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}